<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>
<body>
<h1>Create new task</h1>
<form   method="post" th:object="${userRegister}" enctype="multipart/form-data">
    <table>

        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>UserName</td>
            <td><input type="text" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>PassWord</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>

        <tr>
            <td>Role</td>
            <td>
                <select  id ="Role id" name="roles">
                    <th:block th:each="c:${roles}">
                        <option th:value="${c.id}" th:text="${c.name}"></option>
                    </th:block>
                </select>
            </td>

        </tr>


        <tr>
            <td>Avata</td>
            <td><input type="file" th:field="*{avatar}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>